@use "sass:math";
@use 'mixins.scss';

html {
  backface-visibility: hidden;
  background-color: var(--white);
  color: var(--black);
  font-feature-settings: 'pkna';
  font-size: mixins.vw(10, mixins.$mediaDefault);
  font-family: var(--fontGothic);
  font-weight: normal;
  letter-spacing: math.div(20, 1000) * 1em;
  line-height: 2;
  @include mixins.mediaLarge {
    font-size: 10px;
  }
  @include mixins.mediaSmall {
    font-size: mixins.vw(10, mixins.$mediaSmall);
  }
  @include mixins.mediaExtraSmall {
    font-size: mixins.vw(10, mixins.$mediaExtraSmall);
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--black);
}
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: var(--black);
}
::selection {
  color: var(--white);
  background-color: var(--black);
}

*,
*:before,
*:after {
  backface-visibility: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0;
}

ul {
  list-style: none;
}

a,
button {
  color: inherit;
  text-decoration: none;
}

canvas,
svg,
picture,
img {
  display: block;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

table {
  border-collapse: collapse;
}
